* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
}

.bodytext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
    color: black;
    padding-top: 50px;
}